@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/Header2.jpg" alt="Header Image" class="img-fluid">

<h1>Welcome to Khumalo Craft LTD!</h1>
<p>Welcome to Khumalo CraftLTD, your destination for handcrafted treasures from around the world. Explore our diverse collection of artisanal creations and discover the perfect piece to add a touch of elegance to your life.</p>
<p>Coming Soon!</p>

<img src="~/images/Header1.jpg" alt="Header Image" class="img-fluid">
